<?xml version="1.0"?>
<model>
  <name>riss_bot</name>
  <version>0.1</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Ben Suay</name>
   <email>hsuay@andrew.cmu.edu</email>
  </author>

  <description>
    Robot model for the Robotics Institute Summer Scholars ROS Workshop.
  </description>
</model>